
#top {
    position: relative;
    background-color: #00b33c;
    background-image: url("#{request.contextPath}/resources/images/oth-regensburg-logo-bildmarke.png");
    background-repeat: no-repeat;
    color: black;
    padding: 5px 5px 15px 180px;
    margin: 0px 0px 10px 0px;
}
#oth-logo {
    background-image: url("#{request.contextPath}/resources/images/oth-regensburg-logo-bildmarke.png");
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    z-index: -1;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.main_content {
    background-color: #eeeeee;
    padding: 5px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: yellow;
    font-weight : bold;
    text-decoration : underline;
}
#home-screen {
    background-image: url("#{request.contextPath}/resources/images/Regensburg_Steinerne.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.welcome_message {
    height: 50%;
    background-color: rgba(255,255,255, 0.6);
    padding: 20px;
    border-radius: 5px;
}


